- Important Rules: 
    
    - Sets do not allow duplicate items.
    - Sets do not allow Indexing / Slicing.
    - Sets do not allow an mutable data type inside it (It means we can not create 2D OR 3D set.
    - Set itself is a mutable datatype.

- CREATE
- ACCESS
- EDIT
- DELETE
- OPERATIONS
- FUNCTIONS

### CREATE

In [12]:
S1 = set() # An empty set

In [13]:
type(S1)

set

In [14]:
S2 = {1, 2, 3, 4, 5} # An homogenous set

In [15]:
S3 = {'Hello', 4.5, 6, True, (5+6j)} # An hetrogenous set

In [16]:
# S4 = {{1, 2, 3}, {4, 5, 6}} # we can can create 2D OR 3D set, 
#beacause sets do not support mutubale datatype inside it.

In [17]:
#S4 = {[1, 2, 3], 'Hello'} # also we can not create a list inside a Set,
#because lists are mutubale and Sets do not support mutable datatypes.

In [18]:
# S4 = {(1, 2, 3), 'Hello'} # Hence, both the datatypes inside this set is Immutable 
#therefore it created succesfully.

### ACCESS

In [19]:
S2
id(S2)

138405128242784

In [20]:
# S2[0] # sets do not support indexing OR slicing.

In [21]:
S2 = list(S2)
S2[0] = 100
S2 = set(S2)
id(S2)

138405128242784

### ADD

In [22]:
S4.add('tushar')
S4

NameError: name 'S4' is not defined

In [23]:
S4.add(100)

NameError: name 'S4' is not defined

In [24]:
S4

NameError: name 'S4' is not defined

### DELETION

- del
- remove()
- pop()

In [25]:
del S1 # this  will delete set S1

In [26]:
# del S2[0] # hence indexing is not supported by the set, 
# # It will not delete item at specific index

In [27]:
S4.remove('Hello')

NameError: name 'S4' is not defined

In [28]:
S4

NameError: name 'S4' is not defined

In [29]:
S4.pop() # pop() function works different in sets.

NameError: name 'S4' is not defined

In [30]:
S4.add('tushar')

NameError: name 'S4' is not defined

In [31]:
S4

NameError: name 'S4' is not defined

### OPERATIONS

In [32]:
s1 = {1, 2, 3}
s2 = {4, 5, 6}

In [33]:
# print(s1 * 3) # multiplication 
# print(s1 + s2) # concatination do not supported by the Sets.

In [34]:
for i in s2: # loops are supported by the sets.
    print(i)

4
5
6

In [35]:
10 in s1 # membership operation is allowed in Sets.

False

In [36]:
1 in s1

True

### FUNCTIONS
    
   - len()
   - min(), max()
   - sum()
   - sorted()

In [37]:
len(s1)

3

In [38]:
min(s1)

1

In [39]:
max(s2)

6

In [40]:
sum(s2)

15

In [41]:
sorted(s1)

[1, 2, 3]

### SET SPECIFIC FUNCTIONS

In [42]:
s1.union(s2) # unique items of s1 and s2

{1, 2, 3, 4, 5, 6}

In [43]:
s3 = {1, 2, 3, 4, 5, 6}
s4 = {4, 5, 6, 7, 8, 9}

In [44]:
s3.intersection(s4) # common items in s3 and s4

{4, 5, 6}

In [45]:
s3.difference(s4) # items have in s3 but not in s4

{1, 2, 3}

In [46]:
s4.difference(s3) # items have in s4 but not in s3

{7, 8, 9}

In [47]:
s3.symmetric_difference(s4) # prints unique items from s3 and s4 (works like union())

{1, 2, 3, 7, 8, 9}

In [48]:
s5 = {1, 2, 3}
s6 = {4, 5, 6}

In [49]:
s5.symmetric_difference(s6) # prints unique items from s5 and s6 (works like union())

{1, 2, 3, 4, 5, 6}

In [50]:
s1.isdisjoint(s2)

True

In [51]:
s3.issubset(s4)

False

In [52]:
s5.issuperset(s6)

False

In [53]:
s1.clear()

In [54]:
s1

set()