### print fun()

In [1]:
print('Hello world')

Hello world

### input fun()

In [2]:
input('Enter your name: ')

Enter your name: Ragnar Lothbrok

'Ragnar Lothbrok'

### type fun()

In [3]:
a = 'Mumbai'
type(a)

str

### int etc.. fun()

In [4]:
a = 13.5
int(a)

13

### abs fun()

In [5]:
a = -10
abs(a)

10

### pow fun()

In [6]:
pow(2, 3)

8

### min / max fun()

In [7]:
print('Minimum value:',  min([1, 2, 3, 4, 5]))
print('Maximum value:',  max([1, 2, 3, 4, 5]))

Minimum value: 1
Maximum value: 5

### round fun()

In [8]:
a = 22 / 7

print('Round the value upto 1 digits after the decimal:', round(a, 1))
print('Round the value upto 2 digits after the decimal:', round(a, 2))
print('Round the value upto 3 digits after the decimal:', round(a, 3))

Round the value upto 1 digits after the decimal: 3.1
Round the value upto 2 digits after the decimal: 3.14
Round the value upto 3 digits after the decimal: 3.143

### divmod fun()

In [9]:
divmod(5, 2)

(2, 1)

### id fun()

In [10]:
name = 'sam'
id(name)

131254805141872

### bin / oct / hex fun()

In [11]:
print(f'''binary value of 4: {bin(4)}, 
octal value of 4: {oct(4)}, 
hexadecimal value of 4: {hex(4)}''')

binary value of 4: 0b100,
octal value of 4: 0o4,
hexadecimal value of 4: 0x4

### ord fun()

In [12]:
ord('A') # order fun() returns ASCII value of any given values.

65

### len fun()

In [13]:
len('Mumbai')

6

### sum fun()

In [14]:
sum([1, 2, 3, 4])

10

### help fun()

In [15]:
help('print')

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.