- Create
- Access
- Edit
- Delete
- Operations
- Functions

### CREATE

In [26]:
D = {} # an empty dictionary

In [27]:
D1 = {'Name': 'Tushar', 'Age': 22, 'Collage': 'VJTI'} # an normal dictionary

In [28]:
# D2 = {[1, 2, 3]: 'Sam'} # dictinoaries do not accept mutable datatypes.

In [29]:
D3 = {(1, 2, 3):'Sam'} # We repalced list with tuple and tuple is immutable datatype, 
# Hence dictionary accepted it.

In [30]:
# It allways accepts recent values
D3 = {'Name': 'Tushar', 'Name': 'Navneet', 'Name':'Rahul'}

In [34]:
# 2D dictionary
D2 = {'Name': 'Sanjay', 'Age':22, 'Marks': {'Eng':50, 'Maths':30, 'Sci':70}}

In [42]:
# 3D dictionary
D5 = {'Names':{'Rahul', 'Anuj'}, 'Ages':{20, 21}, 'Total Marks':{98, 88}}

- We can also create 2D, 3D and 4D dictionaries.

### ACCESS

In [43]:
D1['Name']

'Tushar'

In [44]:
D2['Marks']['Maths']

30

In [50]:
D5['Names']

{'Anuj', 'Rahul'}

### EDIT

In [52]:
D1['Name'] = 'Navneet'

In [53]:
D1

{'Name': 'Navneet', 'Age': 22, 'Collage': 'VJTI'}

In [62]:
D5['Names'] = 'Tushar', 'Sam'
D5

{'Names': ('Tushar', 'Sam'), 'Ages': {20, 21}, 'Total Marks': {88, 98}}

In [84]:
D5

{'Names': ('Tushar', 'Sam'), 'Ages': {20, 21}, 'Total Marks': {88, 98}}

### ADDING

In [67]:
D1['Salary'] = '10 Crores'

In [68]:
D1

{'Name': 'Navneet', 'Age': 22, 'Collage': 'VJTI', 'Salary': '10 Crores'}

In [70]:
D2['Marks'] = {'Python':100}

In [71]:
D2

{'Name': 'Sanjay', 'Age': 22, 'Marks': {'Python': 100}}

### DELETING

- del
- remove()
- pop()

In [72]:
D10 = {}

In [73]:
del D10

In [75]:
del D2['Marks']

In [76]:
D2

{'Name': 'Sanjay', 'Age': 22}

In [81]:
D2.pop('Name')

'Sanjay'

In [82]:
D2

{}

### OPERATIONS

*** Concatination & Multiplication do not allowed in Dictionary 

- membership
- loops

In [86]:
'Names' in D5 # It allways searches for keys in dictionary

True

In [91]:
for i in D5: # loop will runs over keys not values 
    print(i)

Names
Ages
Total Marks

In [92]:
# If you want values then write this instead
for i in D5:
    print(i, D5[i])

Names ('Tushar', 'Sam')
Ages {20, 21}
Total Marks {88, 98}

### FUNCTIONS

- len()
- min(), max()
- sum()
- sorted()

In [101]:
len(D5)

3

In [102]:
min(D5) # On the basis of ASCII values (Lexiography)

'Ages'

In [104]:
max(D5) # On the basis of ASCII values (Lexiography)

'Total Marks'

In [105]:
sorted(D5)

['Ages', 'Names', 'Total Marks']

In [107]:
sorted(D5, reverse=True)

['Total Marks', 'Names', 'Ages']