In [3]:
print("Hello World") # string data type

Hello World

In [4]:
print(6) # int data type

6

In [5]:
print(5.6) # float data type

5.6

In [6]:
print(False) # boolean data type

False

In [8]:
print("India", "Pakistan", "Bangladesh", "Srilanka") # print multiple values in one line

India Pakistan Bangladesh Srilanka

In [9]:
print("India", 5, True, 5.6) # print different data type values in one line

India 5 True 5.6

In [25]:
print("This", "is", "an", "example", "of", "seperators in Python.", sep='-') # sep parameter

This-is-an-example-of-seperators in Python.

In [36]:
print("Tushar", end=' ') # end parameter
print("Shukla")

Tushar Shukla

#### Now only two parameters are left
1. file
2. flush
#### These two parameters are used when dealing with files e.g. 'File Handlings.'