- Create
- Access
- Edit
- Add
- Operations
- Functions

- CREATE

- 1-Dimensional tuple (homogenous & hetrogenous)

In [14]:
T1 = () # an empty tuple

In [15]:
T2 = (1, 2, 3, 4, 5) # homogenous tuple

In [16]:
T3 = ('Hello', 5, 4.5, True, (5+6j)) # hetrogenous tuple

- 2-Dimensional tuple (homogenous & hetrogenous)

In [17]:
T4 = (1, 2, 3, (4, 5)) # homogenous tuple

In [18]:
T5 = ('Hello', 5, 4.5, (True, (5+6j))) # hetrogenous tuple

- 3-Dimensional tuple (homogenous & hetrogenous)

In [19]:
T6 = (((1, 2), (3, 4)), ((5, 6), (7, 8))) # homogenous tuple

In [20]:
T7 = ((('hello', 5), (4.5, (5+6j))), ((True, 6), (False, 6.7))) # hetrogenous tuple

- ACCESS

In [21]:
T6[-1][0][1]

6

In [22]:
T7[1][1][0]

False

- Edit & Delete
    
     - Editing and Deleting is not supported by the tuples, because it voilets its Immutability.

- Operations

    - concatination
    - multiplication
    - loops in tuple
    - membership 
    etc ...

In [26]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

In [28]:
print(t1 + t2) # concatination operation

(1, 2, 3, 4, 5, 6)

In [30]:
print(t1 * 3) # multiplication operation

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [56]:
t5 = t1 + t2
for i in t5:
    print(i)

1
2
3
4
5
6

In [33]:
2 in t1, 21 in t1 # membership operation

(True, False)

- Functions

    - tuple supports every functions like list.
        
        1. len()
        2. min(),  max ()
        3. sum()
        4. sorted()
        5. sort()

In [35]:
len(T2)

5

In [40]:
max(t2), min(t2)

(6, 4)

In [41]:
sum(t2)

15

In [43]:
sorted(t2, reverse=True)

[6, 5, 4]

In [50]:
t3 = (5, 4, 3, 2, 1)